<style>
#header {
    text-align:center;
    padding:5px;
    font-family: cursive;
    font-size: 30px;
}

a{text-decoration:none}
a:hover{text-decoration:none}

*{
    padding: 0;
    margin: 0
}

#nav {
    background-color:#eeeeee;
    height:40px;
    width: 100%;
    float: left;
    
}
.daohang{
    color: black;font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 900px;
    height: 40px;
    background-color: #eeeeee;
    margin: 0 auto;
}
li{
    list-style: none;
    float: left;
    width: 225px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;

}
#section {
    width:800px;
    float: none;
    padding:10px; 
    margin: 0 auto;
}

#buchong {
    width:800px;
    padding:10px; 
    margin: 0 auto;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

</style>